@import '@/qunar/reset.scss';
.am-modal-body {
  .popup-list {
    .am-list-body {
      .content {
        .am-list-line {
          .am-list-content {
            @include color(#333);
            @include font-size(.12rem);
          }
        }
      }
    }
  }
}
.logo {
  @include rect(100%,2rem)
}
h1 {
  @include font-size(.64rem);
  @include rect(100%,.6rem);
  @include text-align(center);
}
.list {
  @include background-color(#eee);
  @include flexbox();
  // @include flex-direction(column);
  @include flex-wrap(wrap);
  @include rect(100%,auto);
  li {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include rect(50%,4rem);
    @include margin-bottom(.1rem);
    @include background-color(#fff);
    .logo {
      @include margin-top(.2rem)
    }
    .name {
      @include font-size(.12rem);
      @include color(#333);
    }
    .title {
      @include font-size(.12rem);
      @include color(#999);
    }
    .price {
      @include margin-top(.1rem);
      @include font-size(.14rem);
      @include color(#f33);
    }
    .img {
      @include rect(2rem,auto);
      @include margin-top(.5rem);
    }
  }
}

// ul.list {
//   @include flexbox();
//   @include rect(100%, auto);
//   @include background-color(#eee);
//   @include flex-direction(column);

//   li {
//     @include flexbox();
//     @include rect(50%, 4rem)
//   }
// }

.line {
  @include background-color(#ccc);
  @include flexbox();
  @include flex-wrap(nowrap);
  @include rect(100%,2.5rem);
  @include overflow();
  li {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include rect(50%,2.5rem);
    @include flex-direction(column);
    @include background-color(#fff);

    .title {
      @include margin-top(.1rem);
    }
    .name {
      @include font-size(.12rem);
      @include color(#333);
    }
    .img {
      @include rect(1.5rem,auto);
      @include margin-top(.1rem);
    }
    .price {
      @include color(red);
    }
  }
}

.gonggong {
  @include background-color(#eee);
  @include flexbox();
  @include flex-wrap(wrap);
  @include rect(100%,auto);
  @include overflow();
  @include margin-top(.1rem);
  li {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include rect(50%,auto);
    @include flex-direction(column);
    @include background-color(#fff);
    @include margin-bottom(.1rem);
    .logo {
      @include margin-top(.2rem)
    }
    .title {
      @include font-size(.12rem);
      @include color(#999);
    }
    .name {
      @include font-size(.12rem);
      @include color(#333);
    }
    .price {
      @include margin-top(.1rem);
      @include font-size(.14rem);
      @include color(red);
    }
    .img {
      @include rect(2rem,auto);
      @include margin-top(.5rem);
    }
  }
}

.footnav {
  @include flex();
  @include flexbox();
  @include rect(100%, .82rem);
  @include justify-content(space-between);
  @include align-items();
  @include background-color(#fff);
  li {
    @include flex();
    @include flexbox();
    @include rect(.86rem, .67rem);
    @include justify-content();
    @include align-items();
    img {
      @include rect(.6rem, .67rem);
    }
  }
}

//商品内容布局
.box {
  .content {
    .detailimg {
      @include rect(100%,80%);
      .my-list {
        .am-list-body {
          .am-list-item-middle {
            .am-list-ripple {
              @include color(#666);
              @include font-size(.12rem);
            }
          }
        }
      }
      img {
        @include rect(100%, 2.8rem);
        // margin-left: 26%
      }
      .message {
        @include padding(.1rem);
        @include background-color(#fff);
        h2 {
          @include font-size(.24rem);
        }
        span {
          @include font-size(.16rem);
          @include color(red);
        }
        .price {
          @include font-size(.12rem);
          @include color(red);
        }
        .title {
          @include font-size(.12rem);
          @include color(red);
        }
        .detail-icon {
          @include rect(100%,auto);
          @include flexbox();
          @include background-color(#fff);
          @include margin-top(.1rem);
          li {
            @include flex();
            @include flexbox();
            @include justify-content();
            @include align-items();
          }
          // @include justify-content(space-around);
        }
      }
      .iconto {
        @include flexbox();
        @include background-color(#fff);
        @include margin-top(.06rem);
        @include justify-content(space-around);
        @include font-size(.12rem);
      }
    }
  }
  //商品详情底部
  .footer {
    @include rect(100,.4rem);
    .detailfoot {
      @include rect(100%,auto);
      @include flexbox();
      @include justify-content(space-between);
      @include background-color(#fff);
      li:nth-child(4) {
        @include rect(25%,auto);
      }
      li:nth-child(5) {
        @include rect(25%,auto);
      }
      li {
        @include rect(auto,100%);
        @include flexbox();
        @include flex-direction(column);
        @include align-items();
        @include flex();
        i {
          @include display(block);
          @include rect(1rem,.4rem);
          @include color(#fff);
          @include text-align(center);
          @include padding-top(.1rem);
        }
        p {
          @include margin-top(-.05rem);
        }
        .joinCart {
          @include background-color(#f0415f);
        }
        .buy {
          @include background-color(#00c3f5);
        }
        span {
          @include display(block);
        }
      }
    }
  }

}

div.connectUs {
  @include flex();
  @include flexbox();
  @include justify-content(space-between);
  padding-left: .1rem;
  padding-right: .1rem;
  @include rect(100%, .6rem);
  a.tel {
    @include rect(1.6rem, .36rem);
    @include background-color(#00B4FF);
    @include border-radius(.2rem);
    @include text-align(center);
    @include line-height(.36rem);
    @include color(#fff);
    @include font-size(.16rem);
    margin-top: .24rem;
    span {
      padding-right: .1rem;
      @include font-size(.24rem);
    }
  }
  a.custom {
    @include rect(1.6rem, .36rem);
    @include background-color(#00B4FF);
    @include border-radius(.2rem);
    @include text-align(center);
    @include line-height(.36rem);
    @include color(#fff);
    @include font-size(.16rem);
    margin-top: .24rem;
    span {
      padding-right: .1rem;
      @include font-size(.24rem);
    }
  }
}

div.finish {
  @include flex();
  @include flexbox();
  @include justify-content(space-between);
  @include rect(100%, .62rem);
  margin-top: .15rem;
  padding-left: .1rem;
  padding-right: .1rem;
  // padding-bottom: 1rem;
  p {
    @include rect(72%, auto);
    a {
      @include color(#999);
      @include font-size(.14rem);
    }
  }
  div.lg {
    margin-top: .1rem;
    @include color(#000);
  }
}