@import '@/qunar/reset.scss';

.home_search{
  @include rect(100%, 0.45rem);
  @include font-size(.16rem);
  @include color(#000);
  // text-align: center;
  line-height: 0.45rem;
  background: #fff;
  // text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
  ul {
    @include rect(100%, 0.4rem);
    @include flexbox();
    li:nth-child(1) {
      @include rect(15%,auto);
      @include text-align(center);
    }
    li:nth-child(2) {
      @include rect(80%,auto);
      @include text-align(center);
    }
    li:nth-child(3) {
      @include rect(7.5%,auto);
      @include text-align(left);
    }
    li:nth-child(4) {
      @include rect(7.5%,auto);
      @include text-align(left);
    }
  }
}