@import '../font2/iconfont.css';
.content1 {
    width: 100%;
    height: 6.2rem;
}
.content-t {
    width: 100%;
    height: 1.4rem;
    background-image: url(https://mall.res.meizu.com/member/img/bg-account-6b2c646.jpg);
}
.content-t a { 
    padding-top: 0.1rem;
    font-size: 0.3rem;
}
.icon-fanhui {
    font-size: 0.24rem;
    color: #fff;
    margin-left: 0.06rem;

}
.content-t .top {
    width: 0.8rem;
    height: 1.3rem;
    margin-left:1.5rem;
    margin-top: -0.28rem;
}
.top .name {
    display: block;
    color: #fff;
    font-size: 0.16rem;
    margin-left: -0.08rem;
    margin-top: 0.05rem;
}
.top img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;

}
.myapp {
    width: 5.4rem;
    height: 1.0rem;
    background-color: #fff;
}
.topr{
    width: 100%;
    padding:0.1rem 0;
    font-size: 0.16rem;
    height: 0.3rem;
    padding-top:0.1rem;
}
.topr span {
    margin-left: 0.15rem;
}
.myapp .dingdan{
    color: #999;
    padding: 0 1.88rem;
}
.icon{
    border-top:1px solid #eee;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    width: 100%;
    height: 0.8rem;
    margin: 0.1rem 0;
    padding: 0.1rem 0;
}
.icon .icon-daifukuan{
    font-size: 0.24rem;
    padding: 0rem 0.35rem 0.3rem;
    border-right: 1px solid #ccc;
}
.icon .icon-daifahuo{
    font-size: 0.24rem;
    padding: 0rem 0.35rem 0.3rem;
    border-right: 1px solid #ccc;
}
.icon .icon-daishouhuo{
    font-size: 0.24rem;
    padding: 0rem 0.35rem 0.3rem;
    border-right: 1px solid #ccc;
}
.icon .icon-tuikuan{
    font-size: 0.24rem;
    padding: 0 0.36rem;
}
.icon p {
    margin: 0 0.2rem;
}
.icon a{
    float: left;
    display: block;
    color:#666;
    margin-left:0.04rem;
}
.item {
    display: flex;
    width: 100%;
    height: 0.76rem;
    background-color: #fff;
    margin: 0.1rem 0;
}
.item .icon-shoucang{
    color: #f2b257;
    font-size: 0.3rem;
    padding: 0rem 0.3rem;
}
.item .icon-wodedizhi{
    color: #03aee5;
    font-size: 0.3rem;
    padding: 0rem 0.3rem;
}
.item .icon-wodehongbao{
    color: #ed8167;
    font-size: 0.3rem;
    padding: 0rem 0.3rem;
}
.item .icon-wodeyouhuijuan{
    color: #f6c05f;
    font-size: 0.3rem;
    padding: 0 0.3rem;
}
.item a{
    display: block;
    color:#666;
    padding: 0 0.025rem;
    margin-left:0.04rem;
}
.item p {
    margin: 0 0.1rem;
}
.other-item{
    width: 100%;
    height: 3.2rem;
    background-color: #fff;
}
.other-item a{
    display: block;
    color: #000;
    font: 0.16rem/0.5rem;
    border-bottom:0.01rem solid #eee;
    width: 100%;
    height: 0.43rem;
    padding-top:0.13rem;
}
.other-item a span{
    margin-left:0.15rem;
  }
  .other-item a.active{
    border-bottom:none;
  }

.biaozhi {
    position: absolute;
    width: .15rem;
    height: .15rem;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: .12rem;
    top:.01rem;
    left:.5rem;
}