@import '@/qunar/reset.scss';
html, body, #root, .box {
  @include rect(100%, 100%);
}

.box {
  @include flexbox();
  @include flex-direction(column);
  .header {
    @include rect(100%, 0.44rem);
    @include background-color(#f66);
  }
  .content {
    @include flex();
    @include rect(100%, auto);
    @include overflow();
  }
  .footer {
    @include rect(100%,.44rem);
    @include background-color(#eee);
    @include color(#000);
    ul {
      @include rect(100%, 100%);
      @include flexbox();
      a {
        @include flexbox();
        @include flex();
        @include flex-direction(column);
        @include rect(auto, 100%);
        @include justify-content();
        @include align-items();

        &.active {
          @include color(#f66);
        }
      }
    }
  }
}